/* projects */
.projectz {
  background: #ece4c1;
}


.project_info-title {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0rem 0 0.1rem 0;
}
.project_info-underline {
  width: 5rem;
  height: 0.3rem;
  background: var(--cream);
  margin-bottom: 1rem;
}
.project_info-text {
  line-height: 1.5;
  width: 80%;
}
.project_info-link {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.3em 0.7rem;
  text-decoration: none;
  margin: 0.75rem 0;
  color: var(--yellow);
  border:0.2rem solid var(--yellow);
  transition: all 1s ease;
  position: relative;
  text-transform: capitalize;
}
.project_info-link::after {
  content:'';
  position: absolute;
  width: 50px;
  height: 2px;
  background: var(--yellow);
  top: 50%;
  right: -40px;
}

.project_info-link:hover {
  background: var(--yellow);
  color: var(--black);
}
@media screen and (min-width:768px) {
  .project {
    margin-bottom: 60px;
  }
  .project_info,.project_photo {
    flex:0 0 50%;
  }
  .project_info {
    align-self: center;
    padding: 0 2rem;
  }

  .project_info-text {
    width: 90%;
  }
}
@media screen and (min-width:992px) {
  .project_info-text {
    width: 80%;
  }
}

